In [63]:
import pandas as pd

In [64]:
# Especifica el nombre del archivo Excel
archivo_excel = '../0-DATA/lesiones.xlsx'

In [65]:
# Especifica los nombres o índices de las hojas que deseas leer
hojas_a_leer = ['HECHOS', 'VICTIMAS']  # Puedes usar los nombres o los índices de las hojas (0-indexed)

In [66]:
# Lee las hojas especificadas en una lista de DataFrames
dataframes = pd.read_excel(archivo_excel, sheet_name=hojas_a_leer)

In [67]:
# Ahora puedes acceder a cada DataFrame por su índice o nombre
dataframe_hoja1 = dataframes['HECHOS']
dataframe_hoja2 = dataframes['VICTIMAS']

In [68]:
dataframe_hoja1.columns

Index(['id', 'n_victimas', 'aaaa', 'mm', 'dd', 'fecha', 'hora', 'franja_hora',
       'direccion_normalizada', 'comuna', 'tipo_calle', 'otra_direccion',
       'calle', 'altura', 'cruce', 'geocodificacion_CABA', 'longitud',
       'latutid', 'victima', 'acusado', 'participantes', 'moto', 'auto',
       'transporte_publico', 'camion', 'ciclista', 'gravedad'],
      dtype='object')

In [69]:
dataframe_hoja2.columns

Index(['ID hecho', 'AAA', 'MM', 'DD', 'FECHA ', 'VEHICULO_VICTIMA', 'SEXO',
       'EDAD_VICTIMA', 'GRAVEDAD'],
      dtype='object')

In [70]:
df_merged = pd.merge(dataframe_hoja1, dataframe_hoja2, left_on='id',right_on='ID hecho', how='inner')
#df_merged

In [71]:
df_merged.columns

Index(['id', 'n_victimas', 'aaaa', 'mm', 'dd', 'fecha', 'hora', 'franja_hora',
       'direccion_normalizada', 'comuna', 'tipo_calle', 'otra_direccion',
       'calle', 'altura', 'cruce', 'geocodificacion_CABA', 'longitud',
       'latutid', 'victima', 'acusado', 'participantes', 'moto', 'auto',
       'transporte_publico', 'camion', 'ciclista', 'gravedad', 'ID hecho',
       'AAA', 'MM', 'DD', 'FECHA ', 'VEHICULO_VICTIMA', 'SEXO', 'EDAD_VICTIMA',
       'GRAVEDAD'],
      dtype='object')

In [72]:
df_merged["GRAVEDAD"]=df_merged["GRAVEDAD"].str.upper()
df_merged["gravedad"]=df_merged["gravedad"].str.upper()

In [73]:
df_merged['gravedad_final'] = df_merged.apply(lambda row: row['gravedad'] if row['gravedad'] != 'SD' else row['GRAVEDAD'], axis=1)
df_merged

,id,n_victimas,aaaa,mm,dd,fecha,hora,franja_hora,direccion_normalizada,comuna,...,ID hecho,AAA,MM,DD,FECHA,VEHICULO_VICTIMA,SEXO,EDAD_VICTIMA,GRAVEDAD,gravedad_final
0,LC-2019-0000179,1,2019,1,1,2019-01-01 00:00:00,09:00:00,9,SD,14,...,LC-2019-0000179,2019,1,1,2019-01-01,sd,SD,SD,SD,SD
1,LC-2019-0000053,1,2019,1,1,2019-01-01 00:00:00,01:55:00,1,SD,8,...,LC-2019-0000053,2019,1,1,2019-01-01,sd,Varon,57,SD,SD
2,LC-2019-0000063,1,2019,1,1,2019-01-01 00:00:00,02:00:00,2,SD,8,...,LC-2019-0000063,2019,1,1,2019-01-01,sd,SD,SD,SD,SD
3,LC-2019-0000079,1,2019,1,1,2019-01-01 00:00:00,02:30:00,2,SD,7,...,LC-2019-0000079,2019,1,1,2019-01-01,sd,Varon,SD,SD,SD
4,LC-2019-0000082,4,2019,1,1,2019-01-01 00:00:00,04:30:00,4,SD,3,...,LC-2019-0000082,2019,1,1,2019-01-01,sd,Varon,45,SD,SD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27593,LC-2021-0652865,2,2021,12,31,2021-12-31 00:00:00,19:40:00,19,"ALBERDI, JUAN BAUTISTA AV. 4436",9,...,LC-2021-0652865,2021,12,31,2021-12-31,SD,Varon,28,SD,SD
27594,LC-2021-0652865,2,2021,12,31,2021-12-31 00:00:00,19:40:00,19,"ALBERDI, JUAN BAUTISTA AV. 4436",9,...,LC-2021-0652865,2021,12,31,2021-12-31,SD,Varon,52,SD,SD
27595,LC-2021-0652907,1,2021,12,31,2021-12-31 00:00:00,20:00:00,20,SD,1,...,LC-2021-0652907,2021,12,31,2021-12-31,SD,Varon,23,SD,SD
27596,LC-2021-0652921,1,2021,12,31,2021-12-31 00:00:00,22:00:00,22,LINIERS VIRREY y MORENO,5,...,LC-2021-0652921,2021,12,31,2021-12-31,MOTO,Varon,31,GRAVE,GRAVE
27597,LC-2020-0244615,1,2020,5,17,5/17/2020,21:00:00,21,SD,SD,...,LC-2020-0244615,2020,5,17,2020-05-17,MOTO,Varon,46,SD,SD

In [74]:
df_sin_columnas = df_merged.drop(columns=['ID hecho','gravedad','GRAVEDAD','camion','ciclista','transporte_publico','auto','moto','participantes', 'aaaa', 'mm', 'dd', 'fecha','hora','geocodificacion_CABA','VEHICULO_VICTIMA','direccion_normalizada','otra_direccion','calle','altura','cruce','tipo_calle','FECHA ','DD','MM'])
df_sin_columnas

,id,n_victimas,franja_hora,comuna,longitud,latutid,victima,acusado,AAA,SEXO,EDAD_VICTIMA,gravedad_final
0,LC-2019-0000179,1,9,14,-58.408911,-34.559658,CICLISTA,SD,2019,SD,SD,SD
1,LC-2019-0000053,1,1,8,-58.44351,-34.669125,AUTO,SD,2019,Varon,57,SD
2,LC-2019-0000063,1,2,8,-58.468335,-34.677556,SD,SD,2019,SD,SD,SD
3,LC-2019-0000079,1,2,7,-58.437425,-34.647349,PEATON,SD,2019,Varon,SD,SD
4,LC-2019-0000082,4,4,3,-58.398225,-34.604579,AUTO,SD,2019,Varon,45,SD
...,...,...,...,...,...,...,...,...,...,...,...,...
27593,LC-2021-0652865,2,19,9,-58.488326609395,-34.641753304864,SD,SD,2021,Varon,28,SD
27594,LC-2021-0652865,2,19,9,-58.488326609395,-34.641753304864,SD,SD,2021,Varon,52,SD
27595,LC-2021-0652907,1,20,1,-58.382894,-34.583083,SD,SD,2021,Varon,23,SD
27596,LC-2021-0652921,1,22,5,-58.414532050899,-34.614288229345,MOTO,TRANSPORTE PUBLICO,2021,Varon,31,GRAVE
27597,LC-2020-0244615,1,21,SD,-5829963273,-3472890716,MOTO,AUTO,2020,Varon,46,SD